# Binários
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Arquivos de teste
*.test
*.out
coverage.html

# Dependências
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Ambiente
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
/dist/